<script lang="ts">
	import PickDateDialog from '$lib/PickDateDialog.svelte';
	import Sidebar from '$lib/Sidebar.svelte';
	import { slideMenu } from '$lib/stores';
	import Topbar from '../Topbar.svelte';

	let showPicker = false;
	let sidebarContainer: HTMLDivElement | undefined;
</script>

<svelte:window
	on:click={(e) => {
		const target = e.target;
		if (sidebarContainer && target instanceof Node && !sidebarContainer.contains(target))
			$slideMenu = false;
	}}
/>

<Topbar hasSlideMenu />
<div class="flex grow">
	<div
		bind:this={sidebarContainer}
		class="fixed bottom-0 left-0 top-0 z-20 flex w-60 shrink-0 select-none flex-col bg-zinc-50 shadow transition-transform duration-[400ms] ease-[cubicOut] motion-reduce:transition-none md:static md:translate-x-0 md:transition-none"
		class:-translate-x-full={!$slideMenu}
	>
		<Sidebar bind:showPicker />
		<PickDateDialog bind:showPicker />
	</div>
	<main class="my-4 flex-1 px-4 md:container">
		<slot />
	</main>
</div>
