<script lang="ts">
	import { AeriDate } from '$lib/calendars/AeriDate';
	import { BirthdaysCalendar } from '$lib/calendars/BirthdaysCalendar';
	import type { CalendarEvent } from '$lib/calendars/CalendarEvent';
	import { CampaignsCalendars } from '$lib/calendars/CampaignsCalendars';
	import CampaignSummary from './CampaignSummary.svelte';

	const latestShards = getLatest('shards');
	const latestHeist = getLatest('heist');

	const birthdaysShards = getFollowingBirthdays('shards');
	const birthdaysHeist = getFollowingBirthdays('heist');

	function getLatest(campaign: string): CalendarEvent[] {
		const campaignCalendar = CampaignsCalendars.get(campaign);
		const event = campaignCalendar?.at?.(-1);
		if (!(campaignCalendar && event)) return [];
		// get all events that intersect with the tail of the last event
		const end = new AeriDate(event.end).setSeconds(-1, true);
		return campaignCalendar.filter((event) => event.in(end));
	}

	function getFollowingBirthdays(campaign: string): Map<number, CalendarEvent[]> {
		const campaignCalendar = CampaignsCalendars.get(campaign);
		const event = campaignCalendar?.at?.(-1);
		const birthdays = new Map<number, CalendarEvent[]>();
		if (!(campaignCalendar && event)) return birthdays;
		const end = event.end;

		// get birthdays after event's end, at most 7 days
		// slice birthdays so it starts with the first birthday after the target
		let calendar: CalendarEvent[] = BirthdaysCalendar.slice().sort((lst, rst) =>
			lst.start.compare(rst.start, true)
		);
		const index = calendar.findIndex(
			(evt) => evt.start.compare(end, true) > 0 && evt.end.compare(end, false) <= 0
		);
		if (index > 0) {
			calendar = calendar.slice(index).concat(calendar.slice(0, index));
		} else {
			calendar = calendar;
		}

		for (const evt of calendar) {
			const time = new AeriDate(evt.start.time).setYear(end.year, false);
			if (!birthdays.has(time.time) && birthdays.size >= 5) break;
			const days = birthdays.get(time.time) ?? [];
			days.push(evt);
			birthdays.set(time.time, days);
		}
		return birthdays;
	}
</script>

<svelte:head>
	<title>Aeridas Calendar</title>
</svelte:head>

<section class="mt-6">
	<div class="max-w-prose md:text-lg">
		<h1 class="my-5 text-center text-5xl font-bold text-emerald-600">Aeridas Calendar</h1>
		<p>
			An online listing of campaign events, character birthdays, and miscelaneous events using the
			custom Aeridas calendar for the <a href="/converter#bio" class="underline">Age of Elements</a
			>.
		</p>

		<h2 class="mb-3 mt-5 text-center text-3xl font-bold text-purple-950">Campaigns</h2>
	</div>
	<div class="mb-6">
		<CampaignSummary
			title="Heist of Nu'Talar"
			played="2020-2021, 2023-"
			name="heist"
			latest={latestHeist}
			birthdays={birthdaysHeist}
		/>
		<CampaignSummary
			title="Shards of Aeridas"
			played="2017-"
			name="shards"
			latest={latestShards}
			birthdays={birthdaysShards}
		/>
	</div>
</section>
