<script lang="ts">
	import DayEvent from '$lib/DayEvent.svelte';
	import { AeriDate } from '$lib/calendars/AeriDate';
	import type { CalendarEvent } from '$lib/calendars/CalendarEvent';

	export let latest: CalendarEvent[] = [];
	export let title: string;
	export let name: string;
	export let played: string;
	export let birthdays: Map<number, CalendarEvent[]> = new Map();
</script>

<div class="mb-6">
	<a href="/campaigns/{name}"><h3 class="text-2xl font-semibold hover:underline">{title}</h3></a>
	<div class="italic text-slate-400">played {played}</div>
	{#if latest.length}
		<p class="mb-1 mt-2">
			<span class="font-bold text-slate-600">Latest:</span>
			<a
				href="/{latest[0].start.year}/${latest[0].start.month}/${latest[0].start.day}"
				class="underline"
				>{latest[0].start.monthName()} {latest[0].start.day}, {latest[0].start.year}</a
			>
		</p>
		{#each latest as event}
			<DayEvent {event} />
		{/each}
	{:else}
		whoops
	{/if}
	<p class="mb-1 mt-2 font-bold text-slate-600">Upcoming birthdays:</p>
	{#each birthdays.entries() as [number, events] (number)}
		{@const date = new AeriDate(number)}
		<div>
			<p class="font-semibold italic">{date.monthName()} {date.day}</p>
			{#each events as event}
				<DayEvent date={event.start} {event} />
			{/each}
		</div>
	{/each}
</div>
