<script lang="ts">
	import type { CalendarEvent } from '$lib/calendars/CalendarEvent';
	import { Calendar } from '$lib/calendars/CalendarEvent';
	import { AeriDate } from './calendars/AeriDate';
	import { RepeatYearlyEvent } from './calendars/RepeatYearlyEvent';
	export let event: CalendarEvent | RepeatYearlyEvent;
	export let date: AeriDate | undefined = undefined;
	$: dayStart = new AeriDate(date ?? event.start).setHours(0).setMinutes(0).setSeconds(0);
	$: nextDay = new AeriDate(dayStart).setDay(1, true);

	let bgColor = 'bg-zinc-500';
	let borderColor = 'border-zinc-800';
	let textColor = 'text-zinc-800';
	$: switch (event.calendar) {
		case Calendar.Events:
			bgColor = 'bg-green-600';
			borderColor = 'border-green-700';
			textColor = 'text-green-700';
			break;
		case Calendar.Campaign:
			bgColor = 'bg-purple-500';
			borderColor = 'border-purple-600';
			textColor = 'text-purple-600';
			break;
		case Calendar.Birthdays:
			bgColor = 'bg-sky-600';
			borderColor = 'border-sky-700';
			textColor = 'text-sky-700';
			break;
		default:
			bgColor = 'bg-zinc-500';
			borderColor = 'border-zinc-800';
			textColor = 'text-zinc-800';
	}

	function toDate(date: AeriDate) {
		return `${date.monthName().replace('month', '')} ${date.day} ${date.year}`;
	}
	function toTime(date: AeriDate) {
		return `${date.hours.toString().padStart(2, '0')}:${date.minutes
			.toString()
			.padStart(2, '0')}:${date.seconds.toString().padStart(2, '0')}`;
	}
</script>

<div class="my-1 flex">
	<div
		class="{event.fullDay
			? bgColor + ' text-white'
			: textColor} {borderColor} flex min-w-min shrink-0 items-center rounded-l-lg border px-2"
	>
		{!event.fullDay
			? !date
				? `${toDate(event.start)} ${toTime(event.start)}`
				: toTime(event.start)
			: !date
			? toDate(event.start)
			: ''}
	</div>
	<div class="{borderColor} max-w-[80ch] shrink grow border-y px-2 py-1">
		{event.name}
	</div>
	<div
		class="{borderColor} flex min-w-min grow items-center justify-end rounded-r-lg border border-l-0 px-2 italic text-zinc-600"
	>
		{event instanceof RepeatYearlyEvent && event.until
			? `to ${toDate(new AeriDate(event.until).setSeconds(-1, true))}`
			: event.end.compare(nextDay) > 0
			? event.fullDay
				? `to ${toDate(new AeriDate(event.end).setSeconds(-1, true))}`
				: `to ${toDate(event.end)} ${toTime(event.end)}`
			: ''}
	</div>
</div>
