<script lang="ts">
	import { goto } from '$app/navigation';
	import type { CalendarEvent } from '$lib/calendars/CalendarEvent';
	import { Calendar } from '$lib/calendars/CalendarEvent';
	import { date as storeDate, hasIntervals } from '$lib/stores';
	import { AeriDate } from './calendars/AeriDate';
	import { Interval } from './calendars/Interval';
	import { RepeatYearlyEvent } from './calendars/RepeatYearlyEvent';

	export let events: CalendarEvent[];
	export let year: number;
	export let month: number;
	export let day: number;
	export let compact: boolean;

	$: date = new AeriDate(year, month, day);
	$: now = date.compare($storeDate) === 0;
	$: interval = new Interval(date);
	$: before = day < 1;
	$: after = day > 73;

	$: dayEvents =
		before || after
			? []
			: events?.filter((event) =>
					$hasIntervals
						? event.in(date)
						: interval.contains(event.start, event instanceof RepeatYearlyEvent)
			  );
</script>

<button
	on:click={() => goto(`/${date.year}/${date.month}/${date.day}`)}
	class="flex flex-col justify-center rounded-lg hover:bg-zinc-200 active:bg-zinc-200"
	class:bg-zinc-200={now && !(before || after)}
	class:bg-zinc-100={now && (before || after)}
	class:text-zinc-300={before || after}
	tabindex={!now ? -1 : undefined}
>
	<div
		class="px-1"
		class:text-blue-500={compact && dayEvents.length > 0}
		class:leading-tight={compact}
	>
		{before ? 73 + day : after ? day - 73 : day}
	</div>
	{#if !compact}
		<div class="flex h-1 justify-center">
			{#if !(before || after)}
				{#if dayEvents?.some((event) => event.calendar === Calendar.Events && !event.fullYear)}
					<div class="w-1.5 bg-emerald-400 first:rounded-s-full last:rounded-e-full" />
				{/if}
				{#if dayEvents?.some((event) => event.calendar === Calendar.Campaign && !event.fullYear)}
					<div class="w-1.5 bg-purple-300 first:rounded-s-full last:rounded-e-full" />
				{/if}
				{#if dayEvents?.some((event) => event.calendar === Calendar.Birthdays && !event.fullYear)}
					<div class="w-1.5 bg-sky-300 first:rounded-s-full last:rounded-e-full" />
				{/if}
			{/if}
		</div>
	{/if}
</button>
