<script lang="ts">
	import CalendarDay from './CalendarDay.svelte';
	import { AeriDate } from './calendars/AeriDate';
	import type { CalendarEvent } from './calendars/CalendarEvent';
	import { getMonthColor } from './helpers';

	export let events: CalendarEvent[];
	export let year: number;
	export let month: number;
	export let compact = false;
	// export let datePicker = false;

	const days = Array.from({ length: compact ? 73 : 7 * 12 }).map((_, i) => i + 1);

	$: start = AeriDate.firstOfMonth(year, month);
	$: monthColor = getMonthColor(month);
</script>

<div class="text-yellow m-1 grid grid-cols-7 items-start gap-y-1 text-center">
	<div class="{monthColor} select-none text-xs opacity-50">S</div>
	<div class="{monthColor} select-none text-xs opacity-50">M</div>
	<div class="{monthColor} select-none text-xs opacity-50">T</div>
	<div class="{monthColor} select-none text-xs opacity-50">W</div>
	<div class="{monthColor} select-none text-xs opacity-50">T</div>
	<div class="{monthColor} select-none text-xs opacity-50">F</div>
	<div class="{monthColor} select-none text-xs opacity-50">S</div>
	{#if compact && start > 0}
		<div
			class:col-span-1={start === 1}
			class:col-span-2={start === 2}
			class:col-span-3={start === 3}
			class:col-span-4={start === 4}
			class:col-span-5={start === 5}
			class:col-span-6={start === 6}
		/>
	{/if}
	{#each days as day (day)}
		<CalendarDay {year} {month} day={compact ? day : day - start} {events} {compact} />
	{/each}
</div>
