<script lang="ts">
	import { Calendar, type CalendarEvent } from '$lib/calendars/CalendarEvent';
	import SvelteMarkdown from 'svelte-markdown';
	import { AeriDate } from './calendars/AeriDate';
	import { Mask } from './calendars/Mask';
	import { RepeatYearlyEvent } from './calendars/RepeatYearlyEvent';
	export let event: CalendarEvent;
	export let date: AeriDate | undefined = undefined;

	let footer = ``;
	$: {
		let prefix = `to`;
		let mask = event.fullYear ? Mask.YEAR : event.fullDay ? Mask.DAY : Mask.TIME;
		let endDate: AeriDate;
		if (event instanceof RepeatYearlyEvent && event.until) {
			prefix = `until`;
			mask = (event.data.untilMask as Mask | undefined) ?? mask;
			endDate = new AeriDate(event.until);
		} else {
			endDate = new AeriDate(event.end);
		}

		let dayStart = date ? new AeriDate(date).setHours(0).setMinutes(0).setSeconds(0) : undefined;
		switch (mask) {
			case Mask.YEAR:
				if (dayStart && endDate.compare(dayStart) <= Mask.YEAR) footer = ``;
				else {
					footer = `${prefix} ${endDate.year - 1}`;
				}
				break;
			case Mask.MONTH:
			case Mask.DAY:
				if (dayStart && endDate.compare(dayStart) <= Mask.DAY) footer = ``;
				else {
					endDate.setSeconds(-1, true);
					footer = `${prefix} ${endDate.monthName('short')} ${endDate.day} ${endDate.year}`;
				}
				break;
			case Mask.TIME:
			default:
				if (dayStart && endDate.compare(dayStart) <= Mask.DAY) footer = ``;
				else {
					footer = `${prefix} ${endDate.monthName('short')} ${endDate.day} ${endDate.year} ${toTime(
						endDate
					)}`;
				}
		}
	}

	let bgColor = 'bg-zinc-500';
	let borderColor = 'border-zinc-800';
	let textColor = 'text-zinc-800';
	$: switch (event.calendar) {
		case Calendar.Events:
			bgColor = 'bg-emerald-600';
			borderColor = 'border-emerald-700';
			textColor = 'text-emerald-700';
			break;
		case Calendar.Campaign:
			bgColor = 'bg-purple-500';
			borderColor = 'border-purple-600';
			textColor = 'text-purple-600';
			break;
		case Calendar.Birthdays:
			bgColor = 'bg-sky-600';
			borderColor = 'border-sky-700';
			textColor = 'text-sky-700';
			break;
		default:
			bgColor = 'bg-zinc-500';
			borderColor = 'border-zinc-800';
			textColor = 'text-zinc-800';
	}

	function toTime(date: AeriDate) {
		return `${date.hours.toString().padStart(2, '0')}:${date.minutes
			.toString()
			.padStart(2, '0')}:${date.seconds.toString().padStart(2, '0')}`;
	}
</script>

<div class="my-1 flex">
	<div class="event-text max-w-[80ch] shrink grow">
		{#if !event.data.time && event.fullDay}
			<div class="inline-flex content-center align-middle">
				<div class="h-2 w-2 rounded {bgColor} border {borderColor}" />
			</div>
		{:else}
			<span class={textColor}>
				{event.data.time || toTime(event.start)}
			</span>
		{/if}
		<span>
			<SvelteMarkdown source={event.name} isInline />
		</span>
	</div>
	<div
		class="flex min-w-min grow items-center justify-end rounded-r-lg border-l-0 px-2 italic text-zinc-600"
	>
		{footer}
	</div>
</div>

<style>
	:global(.event-text img) {
		display: inline-block;
		height: 1.25rem;
		margin-top: -0.25rem;
	}
</style>
