<script lang="ts">
	import { fade, fly } from 'svelte/transition';
	import Portal from './Portal.svelte';
	export let show: boolean;
	export let title: string | undefined = undefined;
</script>

{#if show}
	<!-- svelte-ignore a11y-no-noninteractive-element-interactions -->
	<Portal>
		<div
			class="fixed left-0 top-0 z-50 h-screen w-screen overflow-y-auto overflow-x-hidden bg-black/50 outline-none"
			tabindex="-1"
			aria-modal="true"
			role="dialog"
			on:click|self={() => (show = false)}
			on:keypress|self={() => (show = false)}
			transition:fade={{ duration: 300 }}
		>
			<div
				class="modal-dialog-centered pointer-events-none relative mx-auto my-2 flex min-h-screen w-auto max-w-lg items-center"
				in:fly={{ delay: 150, y: -50 }}
			>
				<div
					class="pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none"
				>
					{#if title}
						<div
							class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b border-gray-200 p-4"
						>
							<h5 class="text-xl font-medium leading-normal text-gray-800">
								{title}
							</h5>
							<button
								type="button"
								class="box-content h-5 w-5 rounded-none border-none p-1 text-lg leading-none text-black opacity-50 hover:text-black hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
								aria-label="Close"
								on:click={() => (show = false)}
								><i class="bx bx-x" />
							</button>
						</div>
					{/if}
					<div class="relative flex-auto p-4">
						<slot />
					</div>
					{#if $$slots.footer}
						<div
							class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t border-gray-200 p-4"
						>
							<slot name="footer">
								<button
									type="button"
									class="inline-block rounded bg-purple-600 px-6 py-2.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg"
								>
									Close
								</button>
								<button
									type="button"
									class="ml-1 inline-block rounded bg-blue-600 px-6 py-2.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg"
								>
									Save changes
								</button>
							</slot>
						</div>
					{/if}
				</div>
			</div>
		</div>
	</Portal>
{/if}
