<script lang="ts">
	import { Month, MonthSymbol } from '$lib/calendars/AeriDate';
	import DayEvent from '$lib/DayEvent.svelte';
	import { getMonthColor } from '$lib/helpers';
	import type { CalendarEvent } from './calendars/CalendarEvent';

	export let year: number;
	export let month: number;
	export let days: Map<number, CalendarEvent[]> = new Map();
	export let showYear = false;
	$: monthName = Month[month];
</script>

{#if !isNaN(year) && !isNaN(month)}
	<div class="my-2 flex">
		{#if monthName}
			<div
				class="w-6 flex-shrink-0 select-none text-center text-xl {getMonthColor(
					month,
					'bg'
				)} text-white"
			>
				<span class="sticky top-11">
					{MonthSymbol[month]}
				</span>
			</div>
		{/if}
		<div
			class="flex-grow rounded-r border {getMonthColor(month, 'border')}"
			class:border-l-0={monthName}
		>
			{#each [...days.entries()] as [day, dayEvents] (day)}
				<div class="border-b px-2 last:border-b-0">
					{#if monthName}
						<h3 class="font-semibold">
							<a href="/{year}/{month}/{day}" class="hover:underline">
								{monthName}
								{day}
								{showYear ? ` ${year}` : ''}
							</a>
						</h3>
					{/if}
					{#each dayEvents as event, index (index)}
						<DayEvent date={event.start} {event} />
					{/each}
				</div>
			{/each}
		</div>
	</div>
{/if}
