<script lang="ts">
	import { goto } from '$app/navigation';
	import { date as storeDate } from '$lib/stores';
	import { AeriDate, Month } from './calendars/AeriDate';
	import { MAX_YEAR, MIN_YEAR } from './calendars/types';
	import Dialog from './Dialog.svelte';

	export let showPicker: boolean;

	const months = Object.entries(Month).filter(
		(entry): entry is [string, Month] => typeof entry[1] === 'number'
	);
	let year = $storeDate.year;
	let month = $storeDate.month;
	let day = $storeDate.day;

	$: if (!showPicker) {
		year = $storeDate.year;
		month = $storeDate.month;
		day = $storeDate.day;
	}
</script>

<form
	on:submit|preventDefault={async () => {
		let date = new AeriDate(year, month, day);
		if (!isNaN(date.time)) {
			$storeDate = date;
		}

		await goto(`/${date.year}/${date.month}/${date.day}`);
		showPicker = false;
	}}
>
	<Dialog bind:show={showPicker} title="Pick a date">
		<div class="flex flex-wrap gap-1">
			<select
				class="w-full flex-auto pl-1 sm:w-1/3"
				aria-label="Month"
				placeholder="Month"
				bind:value={month}
			>
				{#each months as [month, value] (value)}
					<option {value}>{month}</option>
				{/each}
			</select>
			<input
				class="w-full flex-auto border-b pl-1 focus:outline-none focus:ring sm:w-1/6"
				type="number"
				aria-label="Day"
				placeholder="Day"
				min={1}
				max={73}
				bind:value={day}
			/>
			<input
				class="w-full flex-auto border-b pl-1 focus:outline-none focus:ring sm:w-1/6"
				type="number"
				aria-label="Year"
				placeholder="Year"
				min={MIN_YEAR + 1}
				max={MAX_YEAR}
				bind:value={year}
			/>
			<button
				class="mx-auto ml-auto mr-auto flex w-fit items-center justify-center gap-1 rounded-full text-2xl hover:bg-zinc-200 focus:bg-zinc-200 disabled:pointer-events-none disabled:text-zinc-200 sm:-mr-1"
				type="submit"
				aria-label="Go to date"
				><i class="bx bx-calendar-event border sm:border-0" /><span
					class="inline text-base sm:hidden">Go to date</span
				></button
			>
		</div>
	</Dialog>
</form>
