<script lang="ts">
	import { onMount, onDestroy } from 'svelte';
	export let target: HTMLElement | null | undefined =
		globalThis.document?.querySelector?.<HTMLElement>('body > :first-child');

	let ref: HTMLElement;

	onMount(() => {
		if (target) {
			target.appendChild(ref);
		}
	});

	onDestroy(() => {
		const _ref = ref;
		setTimeout(() => {
			if (_ref?.parentNode) {
				_ref.parentNode?.removeChild(_ref);
			}
		});
	});
</script>

<div bind:this={ref} class="contents">
	<slot />
</div>
