<script lang="ts">
	import { page } from '$app/stores';
	import type { ChangeEventHandler } from 'svelte/elements';

	export let name: string;
	export let checked: boolean;
	export let id: string | undefined = undefined;
	export let href: string | undefined = undefined;
	export let disabled = false;
	export let onChange: ChangeEventHandler<HTMLInputElement> | undefined = undefined;
	export let classes = '';

	$: visited = href && $page.url.pathname.startsWith(href);
</script>

<div class="flex flex-row-reverse items-center">
	{#if href}
		<a
			class="group peer max-w-[3rem] grow text-right hover:bg-zinc-200"
			{href}
			class:text-emerald-600={visited}
			aria-current={visited ? 'page' : undefined}
		>
			<div class="sr-only"><slot /></div>
			{#if !visited}
				<i class="bx bxs-right-arrow hidden group-hover:inline" /><i
					class="bx bx-right-arrow group-hover:hidden"
				/>
			{:else}
				<i class="bx bxs-right-arrow" />
			{/if}
		</a>
	{/if}
	<label
		for={id || name}
		class="grow hover:bg-zinc-200 peer-hover:bg-zinc-200"
		class:font-semibold={visited}
		class:text-emerald-600={visited}
	>
		<input
			class={classes}
			type="checkbox"
			name={name.toLowerCase()}
			id={id || name}
			{disabled}
			bind:checked
			on:change={onChange}
		/>
		<slot />
	</label>
</div>
