<script lang="ts">
	import Calendar from '$lib/Calendar.svelte';
	import { Month } from './calendars/AeriDate';
	import { CAMPAIGNS, CAMPAIGN_NAMES } from './calendars/CampaignsCalendars';
	import { getMonthColor } from './helpers';
	import SidebarInput from './SidebarInput.svelte';
	import {
		hasBirthdays,
		hasCampaigns,
		hasDeceased,
		hasEvents,
		hasIntervals,
		hasRepeatable,
		month,
		monthEvents,
		whichCampaigns,
		year
	} from './stores';

	export let showPicker: boolean;
</script>

<div class="mt-12 overflow-y-auto md:sticky md:top-12 md:mt-0">
	<div class="my-2 flex {getMonthColor($month)}">
		<button
			class="ml-2 inline-flex items-center justify-center rounded px-2 text-white {getMonthColor(
				$month,
				'bg'
			)}"
			on:click={() => (showPicker = true)}
		>
			<span>
				{Month[$month]}
				{$year}
			</span>
		</button>

		<button
			class="ml-auto flex w-6 items-center justify-center rounded-full text-lg hover:bg-zinc-200 focus:bg-zinc-200"
			on:click={() => month.decrement()}><i class="bx bx-chevron-left" /></button
		>
		<button
			class="mx-1 flex w-6 items-center justify-center rounded-full text-lg hover:bg-zinc-200 focus:bg-zinc-200"
			on:click={() => month.increment()}><i class="bx bx-chevron-right" /></button
		>
	</div>
	<Calendar events={$monthEvents} year={$year} month={$month} />
	<div class="m-2 flex flex-col">
		<SidebarInput classes="accent-green-600" name="events" bind:checked={$hasEvents} href="/events"
			>Events</SidebarInput
		>
		<SidebarInput
			classes="accent-zinc-500 ml-2"
			name="deceased"
			bind:checked={$hasRepeatable}
			disabled={!$hasEvents}>Includes repeating</SidebarInput
		>
		<SidebarInput classes="accent-purple-500" name="campaigns" bind:checked={$hasCampaigns}
			>Campaigns</SidebarInput
		>
		{#each CAMPAIGNS as campaign (campaign)}
			<SidebarInput
				classes="accent-purple-400 ml-2"
				name={campaign}
				checked={$whichCampaigns.includes(campaign)}
				onChange={(e) => {
					if (e.currentTarget?.checked) {
						$whichCampaigns = [...$whichCampaigns.filter((key) => key !== campaign), campaign];
					} else {
						$whichCampaigns = $whichCampaigns.filter((key) => key !== campaign);
					}
				}}
				disabled={!$hasCampaigns}
				href={`/campaigns/${campaign}`}>{CAMPAIGN_NAMES[campaign]}</SidebarInput
			>
		{/each}
		<SidebarInput
			classes="accent-sky-600"
			name="birthdays"
			bind:checked={$hasBirthdays}
			href="/birthdays">Birthdays</SidebarInput
		>
		<SidebarInput
			classes="accent-zinc-500 ml-2"
			name="deceased"
			bind:checked={$hasDeceased}
			disabled={!$hasBirthdays}>Includes deceased</SidebarInput
		>
		<SidebarInput classes="accent-zinc-500" name="intervals" bind:checked={$hasIntervals}
			>Show intervals</SidebarInput
		>
	</div>
</div>
