<script lang="ts">
	import type { CalendarEvent } from './calendars/CalendarEvent';
	import MonthEvents from './MonthEvents.svelte';

	export let year: number;
	export let months: Map<number, Map<number, CalendarEvent[]>> = new Map();
	export let showYear = true;
</script>

{#if !isNaN(year)}
	<div id={year + ''} class="year">
		{#if showYear}
			<h2 class="top-12 bg-white text-xl font-bold">
				<a class="hover:underline" href="/{year}">Year {year}</a>
			</h2>
		{/if}
		{#each [...months.entries()] as [month, days] (month)}
			<MonthEvents {year} {month} {days} />
		{/each}
	</div>
{/if}

<style>
	[id] {
		scroll-margin-top: 3rem;
	}
</style>
