<script lang="ts">
	import { afterNavigate } from '$app/navigation';
	import { slideMenu } from '$lib/stores';
	import '../app.postcss';

	afterNavigate(() => {
		$slideMenu = false;
	});
</script>

<div class="flex max-h-fit min-h-screen flex-col text-base">
	<slot />
</div>
