<script lang="ts">
	import { page } from '$app/stores';
	import ThemeChanger from './ThemeChanger.svelte';
</script>

<ThemeChanger />
<a
	class="flex flex-row items-center px-2 py-1 hover:bg-emerald-600"
	class:bg-emerald-600={$page.url.pathname.startsWith('/converter')}
	href="/converter"
>
	<span class="-ml-1 inline-flex h-7 w-7 items-center justify-center">
		<i class="bx bx-sync" />
	</span>
	<span>Converter</span>
</a>
