<script lang="ts">
	import { onMount } from 'svelte';

	let dark: boolean | undefined;
	onMount(() => {
		dark = 'theme' in localStorage ? localStorage.theme === 'dark' : undefined;
	});

	function toggleDark() {
		dark = !dark;
		if (dark) {
			localStorage.theme = 'dark';
			document.documentElement.classList.add('dark');
		} else {
			localStorage.theme = 'light';
			document.documentElement.classList.remove('dark');
		}
	}

	function systemDark() {
		dark = undefined;
		delete localStorage.theme;
	}
</script>

<button
	class="px-2 hover:bg-emerald-600 active:bg-emerald-600"
	on:click={toggleDark}
	on:dblclick={systemDark}
>
	<i
		class="bx"
		class:bx-moon={dark}
		class:bx-sun={dark === false}
		class:bxs-adjust={typeof dark === 'undefined'}
	/>
</button>
