<script lang="ts">
	import { page } from '$app/stores';
	import Links from './Links.svelte';
	import { slideMenu } from '$lib/stores';

	export let hasSlideMenu = false;
</script>

<div
	class="sticky top-0 z-50 col-span-2 flex h-12 select-none bg-emerald-500 text-xl text-white shadow"
>
	{#if hasSlideMenu}
		<button
			class="flex items-center px-2 text-3xl hover:bg-emerald-600 focus:bg-emerald-700 md:hidden"
			class:bg-emerald-600={$page.url.pathname === '/'}
			class:bg-emerald-700={$slideMenu}
			class:hover:bg-emerald-700={$page.url.pathname === '/'}
			class:focus:bg-emerald-700={$page.url.pathname === '/'}
			on:click|stopPropagation={() => slideMenu.update((value) => !value)}
			><i class="bx bxs-calendar" /></button
		>
	{/if}

	<div class="flex" class:bg-emerald-600={$page.url.pathname === '/'}>
		<a
			href="/"
			class="inline-flex flex-row items-center overflow-ellipsis whitespace-nowrap px-2 hover:bg-emerald-600 focus:bg-emerald-600"
		>
			{#if !hasSlideMenu}
				<div class="flex items-center pe-4 text-3xl md:hidden"><i class="bx bxs-calendar" /></div>
			{/if}
			<span class="md:hidden">Aeridas</span>
			<span class="-ml-1 hidden h-7 w-7 items-center justify-center md:inline-flex">
				<i class="bx bxs-calendar" />
			</span>
			<span class="hidden md:inline">Aeridas Calendar</span></a
		>
	</div>
	<div class="ml-auto flex">
		<Links />
	</div>
</div>
