<script lang="ts">
	import { AeriDate } from '$lib/calendars/AeriDate';
	import Information from './Information.svelte';

	const weekDays = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
	const aeridasMonths = ['Tormonth', 'Tolmonth', 'Varmonth', 'Svemonth', 'Lymonth'];
	const terraMonths = [
		'January',
		'February',
		'March',
		'April',
		'May',
		'June',
		'July',
		'August',
		'September',
		'October',
		'November',
		'December'
	];

	function* range(start: number, end?: number, step = 1) {
		if (end === undefined) [end, start] = [start, 0];
		for (let n = start; n < end; n += step) yield n;
	}
	function daysInEarthMonth(month: number, leap = false): number {
		return month == 2 ? (leap ? 29 : 28) : 30 + ((month - (month >> 3)) & 1);
	}
	const DAYS_IN_EARTH_MONTHS = Array.from(range(12))
		.map((value) => daysInEarthMonth(value + 1))
		.map((_, index, array) => array.slice(0, index).reduce((prev, curr) => prev + curr, 0));

	// const daysNo = (m, d) => --m*31-(m>1?(1054267675>>m*3-6&7):0)+d;

	// const isLeapYear = (year: number) => ((year & 3) == 0 && ((year % 25) != 0 || (year & 15) == 0));

	let calendar = 'terra';
	let year = 9999;
	let month = new Date().getMonth() + 1;
	let months: string[];
	let day = new Date().getDate();
	let days: number;
	let maxDays: number;

	$: if (calendar === 'aeridas') {
		months = aeridasMonths;
		maxDays = 73;
		day = Math.min(day, maxDays);
		days = 73 * (month - 1) + day;
	} else if (calendar === 'terra') {
		months = terraMonths;
		maxDays = daysInEarthMonth(month, true);
		day = Math.min(day, maxDays);
		days = DAYS_IN_EARTH_MONTHS[month - 1] + day;
	}
	$: aeridas = new AeriDate(Math.max(year, 1), 1, days);
	$: terra = new Date(2017, 0, days);

	function swapCalendar() {
		if (calendar === 'aeridas') {
			month = terra.getMonth() + 1;
			day = terra.getDate();
			calendar = 'terra';
		} else if (calendar === 'terra') {
			month = aeridas.month;
			day = aeridas.day;
			calendar = 'aeridas';
		}
	}
</script>

<svelte:head>
	<title>Date Converter</title>
</svelte:head>

<section class="mt-6">
	<h1 class="text-center text-3xl font-bold">
		Convert from {calendar === 'aeridas' ? "Aeridas'" : ''}{calendar === 'terra' ? "Earth's" : ''} calendar
	</h1>
	<div
		class="mx-auto mt-4 max-w-md rounded bg-sky-50 p-2 text-center transition-colors duration-300"
		class:bg-sky-50={calendar === 'aeridas'}
		class:bg-emerald-50={calendar === 'terra'}
	>
		<div class="flex gap-2">
			<select bind:value={month} class="flex-grow" name="month" id="month">
				{#each months as month, index}
					<option value={index + 1}>{month}</option>
				{/each}
			</select>
			<input
				class="w-2/3"
				type="number"
				name="day"
				id="day"
				min="1"
				max={maxDays}
				bind:value={day}
			/>
		</div>
		<button
			class="mx-auto mb-2 mt-4 rounded bg-gray-500 px-4 py-1 text-white"
			on:click={swapCalendar}>Swap</button
		>

		<div>
			{#if calendar != 'aeridas'}
				<a
					class="text-emerald-800 hover:text-emerald-500 focus:text-emerald-500"
					href={`/${year}/${aeridas.month}/${aeridas.day}`}
				>
					{weekDays[aeridas.weekday]}, {aeridasMonths[aeridas.month - 1]}
					{aeridas.day},
				</a>
				<input
					style:width={`${year?.toString().length + 3}ch`}
					class="min-w-[7ch] pl-1"
					type="number"
					name="year"
					id="year"
					min="1"
					bind:value={year}
				/>
				<div>
					<span
						>{aeridas.patronName()} Patron
						<!-- , Year of the
						<span class="inline-block">?????????????</span> -->
					</span>
				</div>
			{/if}
			{#if calendar != 'terra'}
				<span class="text-lg">{terraMonths[terra.getMonth()]} {terra.getDate()}</span>
			{/if}
		</div>
	</div>
</section>

<Information />
