<script lang="ts">
	import { Patron, PatronSymbol } from '$lib/calendars/AeriDate';
	import { PATRON_INTERVALS } from '$lib/calendars/Interval';
</script>

<section id="bio" class="my-6">
	<div class="prose prose-zinc mx-auto mb-8">
		<h2 class="text-center">References</h2>
		<p>
			A year in Aeridas is exactly 365 days, with 24 hours each akin to Earth's. The current
			calendar starts on year 1AE (Age of Elements), divided into five equally sized months
			corresponding to the seasons that, due to draconic magical interference and the destruction of
			the Fae courts, align with the first age draconic elements, and hence named according to their
			respective kingdoms.
		</p>
	</div>
	<div class="flex flex-wrap justify-center gap-4">
		<div class="prose prose-zinc grow">
			<table>
				<thead>
					<tr>
						<th>Month</th>
						<th>Kingdom</th>
						<th>Element</th>
						<th>Season</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="font-bold text-yellow-600">Tormonth</td>
						<td>Tordanya</td>
						<td>Spirit</td>
						<td>Temperate</td>
					</tr>
					<tr>
						<td class="font-bold text-red-700">Tolmonth</td>
						<td>Toldoska</td>
						<td>Fire</td>
						<td>Hot</td>
					</tr>
					<tr>
						<td class="font-bold text-gray-500">Varmonth</td>
						<td>Varoshae</td>
						<td>Air</td>
						<td>Windy</td>
					</tr>
					<tr>
						<td class="font-bold text-blue-800">Svemonth</td>
						<td>Sveros</td>
						<td>Water</td>
						<td>Wet</td>
					</tr>
					<tr>
						<td class="font-bold text-lime-800">Lymonth</td>
						<td>Lytna</td>
						<td>Earth</td>
						<td>Cold</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="prose prose-zinc grow">
			<table>
				<thead>
					<tr>
						<th> Patron </th>
						<th> From </th>
						<th> To </th>
					</tr>
				</thead>
				<tbody>
					{#each [...PATRON_INTERVALS.entries()] as [patron, { start, end }] (patron)}
						<tr>
							<td class="font-bold">{PatronSymbol[patron]} {Patron[patron]}</td>
							<td>{start.monthName()} {start.day}</td>
							<td>{end.monthName()} {end.day - 1}</td>
						</tr>
					{/each}
				</tbody>
			</table>
		</div>
	</div>
</section>
