<script lang="ts">
	import { SECONDS_IN_MONTH } from '$lib/calendars/AeriDate';
	import { splitByDuration } from '$lib/helpers';
	import YearEvents from '$lib/YearEvents.svelte';
	import type { PageData } from './$types';

	export let data: PageData;
	$: events = splitByDuration(data.initialEvents.slice(), SECONDS_IN_MONTH);
</script>

<svelte:head>
	<title>{data.name} Campaign</title>
</svelte:head>

<section>
	<h1 class="mb-4 text-3xl font-bold">{data.name} Campaign</h1>
	<div class="relative max-w-screen-xl grow">
		{#each [...events.entries()] as [year, durations] (year)}
			{#each [...durations.entries()] as [duration, months], index (duration)}
				{#if duration !== 0}
					<span class="divider -mx-1 my-1 flex select-none items-center text-sm leading-normal"
						>End of month {duration}</span
					>
				{/if}
				<YearEvents {year} {months} showYear={index === 0} />
			{/each}
		{/each}
	</div>
</section>

<style>
	.divider:before,
	.divider:after {
		content: '';
		flex: 1;
		height: 1px;
		margin: 0 1em;
		background: black;
		border-radius: 5px;
	}
</style>
