<script lang="ts">
	import { OnceEvent } from '$lib/calendars/OnceEvent';
	import { splitByYear } from '$lib/helpers';
	import { events as calendarEvents } from '$lib/stores';
	import YearEvents from '$lib/YearEvents.svelte';
	// import VirtualList from 'svelte-virtual-list-ce';

	$: events = $calendarEvents
		.filter((event): event is OnceEvent => event instanceof OnceEvent)
		.sort((lhs, rhs) => lhs.start.compare(rhs.start));
	// .reverse();

	$: map = splitByYear(events);
	$: years = [...map.entries()].map(([year, months]) => ({ year, months }));
</script>

<svelte:head>
	<title>Event Historic</title>
</svelte:head>

<h1 class="mb-4 text-3xl font-bold">Event Historic</h1>
<div class="relative max-w-screen-xl grow">
	{#each years as { year, months } (year)}
		<YearEvents {year} {months} />
	{/each}
</div>

<style>
	/* [id] {
		scroll-margin-top: 3rem;
	} */

	/* .list-container {
		max-height: calc(100vh - 3rem);
	} */
</style>
