<script lang="ts">
	import { goto } from '$app/navigation';
	import { AeriDate } from '$lib/calendars/AeriDate';
	import { splitByMonth } from '$lib/helpers';
	import MonthEvents from '$lib/MonthEvents.svelte';
	import { events as storeEvents } from '$lib/stores';
	import type { PageData } from './$types';
	// import YearCalendars from './YearCalendars.svelte';

	export let data: PageData;

	$: prevYear = new AeriDate(data.date).setYear(-1, true).year;
	$: nextYear = new AeriDate(data.date).setYear(1, true).year;

	$: events = $storeEvents
		.filter((event) => event.in(data.date.year))
		.sort((lst, rst) => lst.start.compare(rst.start, 'repeats' in lst || 'repeats' in rst));

	$: map = [...splitByMonth(events).entries()];
</script>

<svelte:head>
	<title>Year {data.date.year}</title>
</svelte:head>

<div class="mb-4 flex items-center justify-between">
	<h1 class="text-3xl font-bold">Year {data.date.year}</h1>
	<div class="flex items-center text-3xl">
		<button
			class="flex items-center rounded-full hover:bg-zinc-200 focus:bg-zinc-200 disabled:pointer-events-none disabled:text-zinc-200"
			on:click={() => !isNaN(prevYear) && goto(`/${prevYear}`)}
			disabled={isNaN(prevYear)}><i class="bx bx-chevron-left" /></button
		>
		<!-- <button class="flex"><i class="bx bx-chevron-up" /></button> -->
		<button
			class="flex items-center rounded-full hover:bg-zinc-200 focus:bg-zinc-200 disabled:pointer-events-none disabled:text-zinc-200"
			on:click={() => !isNaN(nextYear) && goto(`/${nextYear}`)}
			disabled={isNaN(nextYear)}><i class="bx bx-chevron-right" /></button
		>
	</div>
</div>

{#each map as [month, days] (month)}
	<MonthEvents year={data.date.year} {month} {days} />
{/each}
