<script lang="ts">
	import Calendar from '$lib/Calendar.svelte';
	import { Month } from '$lib/calendars/AeriDate';
	import type { CalendarEvent } from '$lib/calendars/CalendarEvent';
	import { getMonthColor } from '$lib/helpers';

	export let year: number;
	export let events: CalendarEvent[];
</script>

<div class="flex flex-wrap justify-center gap-2">
	{#each [1, 2, 3, 4, 5] as month (month)}
		<div class="max-w-xs rounded border {getMonthColor(month, 'border')}">
			<span
				class="mx-auto block select-none text-center font-bold {getMonthColor(
					month
				)} border-b {getMonthColor(month, 'border')}"
			>
				{Month[month]}
			</span>
			<Calendar {year} {month} {events} compact />
		</div>
	{/each}
</div>
