<script lang="ts">
	import { BirthdaysCalendar } from '$lib/calendars/BirthdaysCalendar';
	import { splitByPatron } from '$lib/helpers';
	import PatronEvents from './PatronEvents.svelte';

	$: events = splitByPatron(
		BirthdaysCalendar.slice().sort((a, b) => a.start.compare(b.start, true))
	);
</script>

<svelte:head>
	<title>Character Birthdays</title>
</svelte:head>

<section>
	<h1 class="mb-4 text-3xl font-bold">Birthdays</h1>

	{#each [...events.entries()] as [patron, months] (patron)}
		<PatronEvents {patron} {months} />
	{/each}
</section>
