<script lang="ts">
	import { Month, Patron, PatronSymbol } from '$lib/calendars/AeriDate';
	import type { CalendarEvent } from '$lib/calendars/CalendarEvent';
	import DayEvent from '$lib/DayEvent.svelte';
	import { date } from '$lib/stores';

	export let patron: Patron;
	export let months: Map<number, Map<number, CalendarEvent[]>> = new Map();
</script>

{#if !isNaN(patron)}
	<div class="my-2 flex">
		<div class="w-6 flex-shrink-0 select-none bg-stone-400 text-center text-xl text-white">
			<span class="sticky top-11 pt-1 text-sm">
				{PatronSymbol[patron] + `\uFE0E`}
			</span>
		</div>
		<div class="flex-grow rounded-r border border-stone-400" class:border-l-0={true}>
			{#each [...months.entries()] as [month, days] (month)}
				{#each [...days.entries()] as [day, dayEvents] (day)}
					<div class="border-b px-2 last:border-b-0">
						<h3 class="font-semibold">
							<a href="/{$date.year}/{month}/{day}" class="hover:underline">
								{Month[month]}
								{day}
							</a>
						</h3>
						{#each dayEvents as event, index (index)}
							<DayEvent date={event.start} {event} />
						{/each}
					</div>
				{/each}
			{/each}
		</div>
	</div>
{/if}
