<script lang="ts">
	import { goto } from '$app/navigation';
	import { AeriDate } from '$lib/calendars/AeriDate';
	import DayEvent from '$lib/DayEvent.svelte';
	import { splitByMonth } from '$lib/helpers';
	import MonthEvents from '$lib/MonthEvents.svelte';
	import { date as storeDate, events as storeEvents } from '$lib/stores';
	import type { PageData } from './$types';

	export let data: PageData;

	$: storeDate.set(data.date);
	$: prevDate = new AeriDate(data.date).setDay(-1, true);
	$: nextDate = new AeriDate(data.date).setDay(1, true);

	$: events = $storeEvents
		.filter((event) => event.in(data.date))
		.sort((lst, rst) => lst.start.compare(rst.start, 'repeats' in lst || 'repeats' in rst));

	$: todayEvents = events.filter((event) => !event.fullYear);
	$: yearEvents = splitByMonth(events.filter((event) => event.fullYear));
</script>

<svelte:head>
	<title>{data.date.monthName()} {data.date.day}, {data.date.year}</title>
</svelte:head>

<div class="flex items-center justify-between">
	<h1 class="text-3xl font-bold">
		{data.date.monthName()}
		{data.date.day},
		{data.date.year}
	</h1>
	<div class="ml-2 flex items-center text-3xl">
		<button
			class="flex rounded-full hover:bg-zinc-200 focus:bg-zinc-200 disabled:pointer-events-none disabled:text-zinc-200"
			on:click={() => goto(`/${data.date.year}`)}><i class="bx bx-arrow-to-top" /></button
		>
		<button
			class="flex rounded-full hover:bg-zinc-200 focus:bg-zinc-200 disabled:pointer-events-none disabled:text-zinc-200"
			on:click={() =>
				!isNaN(prevDate.time) && goto(`/${prevDate.year}/${prevDate.month}/${prevDate.day}`)}
			disabled={isNaN(prevDate.time)}><i class="bx bx-chevron-left" /></button
		>
		<button
			class="flex rounded-full hover:bg-zinc-200 focus:bg-zinc-200 disabled:pointer-events-none disabled:text-zinc-200"
			on:click={() =>
				!isNaN(nextDate.time) && goto(`/${nextDate.year}/${nextDate.month}/${nextDate.day}`)}
			disabled={isNaN(nextDate.time)}><i class="bx bx-chevron-right" /></button
		>
	</div>
</div>

<p class="mb-4 text-xl text-zinc-600">{data.date.weekdayName()}, {data.date.patronName()}</p>

{#each todayEvents as event, index (index)}
	<DayEvent {event} date={data.date} />
{/each}

{#if yearEvents.size}
	<h2 class="mt-3 text-2xl font-bold text-zinc-800">Year events</h2>
	{#each [...yearEvents.entries()] as [month, days] (month)}
		<MonthEvents year={data.date.year} {month} {days} />
	{/each}
{/if}
